.edit_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 1px solid white;

    .edit {
        margin: 0 10px;
        cursor: pointer;
        color: white;
    }

    .delete {
        margin: 0 10px;
        cursor: pointer;
        color: red;
    }
}