@use "sass:color"; // Esto es obligatorio para usar las nuevas funciones

.search-container {
  @include p-x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  

.input-container {
  background-color: $bg-card;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  padding: 1px 5px;

    input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: $bg-card;
    color: $text-white;


      // 2. COLOR DEL PLACEHOLDER
    &::placeholder {
      color: $text-white; // El #949499 de la captura
      opacity: 1; // Necesario en algunos navegadores como Firefox
      padding-left: 6px;
    }
  }
}
}